      <button class="btn btn-outline-primary"><a href="/"> Home </a></button>
      <button class="btn btn-outline-primary"><a href="/mercury"> Mercury </a></button>
      <button class="btn btn-outline-primary"><a href="/venus"> Venus </a></button>
      <button class="btn btn-outline-primary"><a href="/earth"> Earth </a></button> <br>