<%- include('partials/header.ejs') %>
      <h1 class="jumbotron">Welcome to Earth.</h1>
      <!--<button class="btn btn-outline-primary"><a href="/"> Home </a></button>-->
      <!--<button class="btn btn-outline-primary"><a href="/mercury"> Mercury </a></button>-->
      <!--<button class="btn btn-outline-primary"><a href="/venus"> Venus </a></button>-->
      <!--<button class="btn btn-outline-primary"><a href="/earth"> Earth </a></button> <br>-->
      <%- include('partials/nav.ejs') %>
      <div class="paragraph">
            <p>This is the third planet in the Solar System, and it is the only 
            known planet that contains life.  An active search is underway to 
            find life-form in our Solar System or even in our galaxy. The main 
            reason for the existence of life-form on this planet is mainly based 
            on water and Oxygen. Even though 71% of Earth's surface contains water, 
            not all of it is drinkable or usable.  It orbits the Sun in approximately 
            365 earth days. </p>   
      </div>
            <img class="mainImg bigImg" src="/img/earth.jpg" alt="Earth"></img>
      
<%- include('partials/footer.ejs') %>