<%- include('partials/header.ejs') %>
      
      <h1 class="jumbotron">Welcome to the Solar System Site!</h1>
      <p>Click on a planet to know more about it:</p>
      
      <button class="btn btn-outline-primary"><a href="/mercury"> Mercury </a></button>
      <button class="btn btn-outline-primary"><a href="/venus"> Venus </a></button>
      <button class="btn btn-outline-primary"><a href="/earth"> Earth </a></button> <br><br>
      <img class="mainImg" src="/img/space-11188_1280.jpg" alt="Big Bang" />
<%- include('partials/footer.ejs') %>