<%- include('partials/header.ejs') %>
      <h1 class="jumbotron">Welcome to Venus.</h1>
      <button class="btn btn-outline-primary"><a href="/"> Home </a></button>
      <button class="btn btn-outline-primary"><a href="/mercury"> Mercury </a></button>
      <button class="btn btn-outline-primary"><a href="/venus"> Venus </a></button>
      <button class="btn btn-outline-primary"><a href="/earth"> Earth </a></button> <br>
      <div class="paragraph">
            <p>This is the second planet in the Solar System and closest to the 
            Earth. Venus was a Roman goddess of love and beauty, and this planet 
            is named after her. Venus is also called the sister planet to Earth 
            because of a few similarities, such as size and mass. It is a terrestrial 
            planet, and its atmosphere is made of 96% Carbon dioxide, which makes 
            it harder for any life-form to exists on this planet. It orbits the 
            Sun in approximately 224 earth days.  </p>   
      </div>
            <img class="mainImg bigImg" src="/img/venus.jpg" alt="Venus"></img>
      
<%- include('partials/footer.ejs') %>