body{
      background-color: #CBE2F6;
      text-align: center;
}
.jumbotron{
      background-color: #ffd369;
      padding-bottom: -2rem;
}

.mainImg{
      width: 40%;
}

.bigImg{
      width: 24%;
}

.paragraph{
      width: 50%;
      text-align: center;
      margin-left: 25%;
      margin-top: 2%;
      margin-bottom: 1%;
}


.btn{
      width: 10%;
}

.btn:hover{
      background-color: #ffd369;
}
